*.py[co]
*.prof

# hide all files starting with dot: .idea, .pytest_cache, .coverage, ...
.*
!.gitignore
!.travis.yml

.installed.cfg
bin
develop-eggs

*.egg-info

tmp
build
dist
include/
lib/
local/
man/
share/
.idea/
