language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
before_install: sudo apt-get install libxml2-dev libxslt-dev
# command to install dependencies
install: pip install -r requirements.txt --use-mirrors
# command to run tests
script: python setup.py install && nosetests tests
